{% extends 'base.html.twig' %}

{% block title %} {{ salle.nom }} {% endblock %}

{% block body %}
    <h1> {{ salle. }} </h1>
    <ul>

    </ul>
    <h5><a href = {{ path('accueil') }}>Annuler </a></h5>
{% endblock %}