{% extends 'base.html.twig' %}

{% block title %} {{ titre}} {% endblock %}

{% block body %}
    <h1>{{ titre }}</h1>
    <br>
    <h3><a href = {{ path('tarifs') }}>En modifier un autre ?</a></h3>
    <h4><a href = {{ path('accueil') }}>Retour Accueil</a></h4>

{% endblock %}